<div class = "note-comment-box">
   <h1>通知</h1>
</div>
<% @posts.each do |post| %>
 <div class = "comment-box">
     <div class = "comment-top">
          <div class = "notification-time">
          <%= post.created_at.to_s(:datetime_jp) %>
          </div>
     </div>
     <div class = "comment-content">
          <%= post.image_name %>
     </div>
 </div>
<% end %>