<div class="room-index">
  <h1>ルーム作成・参加</h1>
  <div class="room-box">
     <%= link_to("ルームを作成する", "/room/new")%>
  </div>
  <div class="room-box">
      <%= link_to("ルームに参加する", "/room/join")%>
  </div>
</div>