<div class="room-join-box">
 <%= form_tag("/room/join") do %>
      <h1>ルーム参加</h1>
       <% if @errormessage %> 
         <div class="errormessage">
             <%= @errormessage %>
         </div>
       <% end %>
       <div class="room-form">
         <p>ルームid</p>
         <input name="room_id" type="text"></li>
         <p>パスワード</p>
         <input name="password" type="password">
         <input type="submit" value="入室">
       </div>
 <% end %>
<div>