<div class="newroom-box">
 <%= form_tag("/room/create", {multipart: true}) do %>
        <h1>ルーム作成</h1>
        <% if @errormessage %> 
          <div class="errormessage">
             <%= @errormessage %>
          </div>
        <% end %>
        <div class="room-form">
          <p>ルームid</p>
          <input name="room_id" type="text">
          <p>パスワード</p>
          <input name="password" type="password">
          <input type="submit" value="作成">
        </div>
 <% end %>
</div>
