<div class="newroom-box">
 <%= form_tag("/room/create", {multipart: true}) do %>
        <h1>ルーム作成</h1>
        <% if @errormessage %> 
     <div class="errormessage">
         <%= @errormessage %>
     </div>
  <% end %>
        <p>ルームid</p>
        <ul>
            <li><input name="room_id" type="text"></li>
       </ul>
         <p>パスワード</p>
        <ul>
             <li><input name="password" type="password"></li>
        </ul>
        <input type="submit" value="作成">
 <% end %>
</div>
