<div class="how_to_use">
<h1>オンライン交換ノートの使い方</h1>
<div class="how_to_use_box">
  <h2>1.ユーザー登録</h2>
  <p>初めての方は"新規登録"</p>
  <p>既にアカウントを作成した方は"ログイン"を選択</p>
  <img class="login_user_img" src="/assets/user.png">
  <p class="info">※新規登録の際に"入力内容に重複または空欄があります"と表示される場合、<br>
  入力したユーザー名、メールアドレスが既に使用されているため、入力内容を変更したうえで<br>
  再度ご登録ください</p>
</div>
<div class="how_to_use_box">
  <h2>2.ルーム入室</h2>
  <p>新しくルームを作成する場合は"ルームを作成する"</p>
  <p>既存のルームに参加する場合は"ルームに参加する"を選択</p>
  <img class="login_room_img" src="/assets/Room_img.png">
  <p>★友達とルームid、パスワードを共有して一緒にオンライン交換ノートを楽しもう！★</p>
</div>
<div class="how_to_use_box">
   <h2>3.交換ノート投稿</h2>
   <p>ルームに入室したら交換ノートの右下にある"更新"から交換ノートを投稿しよう！</p>
   <img class="Exnote_img" src="/assets/ExNoteUpdate.png">
   <p class="info">※投稿が反映されるまでに時間がかかる場合があります</p>
</div>
<div class="how_to_use_box">
   <h2>4.コメント</h2>
   <p>交換ノートが投稿されたら<br>
   右下にある"コメント"から友達の投稿や質問に対してコメントしよう！</p>
   <img class="ExnoteComment_img" src="/assets/ExNoteComment.png">
</div>
</div>