<body>
  <main>
　    <div class="top">
            <div class = "top-right">
               <h1>懐かしく、新しいつながりを、君と。</h1>
               <h2>オンライン交換ノートを始める</h2>
               <ul>
                  <li><%= link_to("新規登録", "/signup") %></li>
                  <li><%= link_to("ログイン", "/login") %></li>
                </ul>
           </div>
           <div class = "top-left">
               <img class="note" src="/assets/Note.png">
          </div>
      </div>
  </main>
</body>