<body>
  <main>
　    <div class="top">
            <div class = "top-right">
               <h1>懐かしく、新しいつながりを、君と。</h1>
               <h2>オンライン交換ノートを始める</h2>
               <ul>
                  <li><%= link_to("新規登録", "/signup") %></li>
                  <li><%= link_to("ログイン", "/login") %></li>
                </ul>
           </div>
           <div class = "top-left">
               <img class="note" src="/assets/note.png">
          </div>
      </div>
  </main>
</body>
<footer>
  <div class="copyright">&copy; 2021 学生団体交換ノート同好会</div>
  <div class="tos"><%= link_to("利用規約", "/tos") %></div>
  <div class="privacyPolicy"><%= link_to("プライバシーポリシー", "/privacyPolicy") %></div>
</footer>