<div class="container">
   <h1>ログイン</h1>
   <% if @errormessage %>
     <div class="errormessage">
         <%= @errormessage %>
     </div>
  <% end %>
  <%= form_tag("/login") do %>
          <p>メールアドレス</p>
          <input name="email" type="text">
          <p>パスワード</p>
          <input name="password" type="password" >
          <ul>
            <li><input type="submit" value="ログイン"><li>
          </ul>
  <% end %>
</div>