.signup li{
    list-style-type: none;
}

.container{
    box-shadow: 0 2px 6px #aeb4b9;
    margin: 100px auto;
    padding: 20px;
    width: 600px;
}

@media(max-width:1000px){
    .container{
        margin-top: 300px;
    }
    .container h1{
        font-size: 70px;
    }
    .container p{
        font-size: 40px;
    }
    .container input[type="text"]{
        margin: 10px 0px;
        height: 50px;
        width: 400px;
        font-size: 30px;
    }
    .container input[type="password"]{
        margin: 10px 0px;
        height: 50px;
        width: 400px;
        font-size: 30px;
    }



}

.errormessage{
    color: red;
}
